.additional-info {
    border: none;
    margin: 0 0 43px 0;
    display: flex;
    flex-wrap: wrap;

    &__title {
        font-family: 'Oswald', sans-serif, Arial;
        font-weight: 400;
        font-size: 24px;
        line-height: 24px;
        padding: 0 20px;
        margin: 0;
        position: relative;
        background-color: $white;
        display: block;
        width: 221px;
        box-sizing: border-box;
    }

    &__green-line-wrap {
        width: 100%;
        margin-bottom: 40px;
    }

    @include green-line;

    &__label {
        width: 100%;
        font-family: 'Oswald', sans-serif, Arial;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        text-transform: uppercase;
        margin-bottom: 25px;
        position: relative;
        padding: 0 0 0 65px;
        cursor: pointer;
        outline: 0;
    }

    &__label:last-child {
        margin-bottom: 0;
    }

    &__input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    &__checkmark {
        width: 30px;
        height: 30px;
        border: 1px solid #ededed;
        display: block;
        position: absolute;
        left: 20px;
        top: -8px;
    }

    &__checkmark::after {
        content: '';
        width: 12px;
        height: 24px;
        border: solid $green;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
        left: 11px;
        top: -2px;
        position: absolute;
        display: none;
    }

    &__input:checked ~ &__checkmark::after {
        display: block;
    }
}

@media (min-width: $tablet-width) {
    .additional-info {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
        justify-content: space-between;

        &__title {
            font-size: 36px;
            line-height: 36px;
            padding: 0 40px;
            width: auto;
            display: inline-block;
            margin-bottom: 0;
        }

        &__label {
            width: 50%;
            box-sizing: border-box;
            margin-bottom: 50px;
            font-size: 20px;
            line-height: 20px;
            padding: 0 0 0 105px;
        }

        &__green-line-wrap {
            margin-bottom: 60px;
        }

        &__checkmark {
            left: 40px;
            width: 40px;
            height: 40px;
        }

        &__checkmark::after {
            left: 14px;
            top: 2px;
        }
    }
}

@media (min-width: $desktop-width) {
    .additional-info {
        margin-bottom: 20px;
        &__title {
            padding: 0 40px;
        }
        &__label {
            width: 25%;
        }
    }
}
