.catalog {
    &__title {
        font-family: 'Oswald', sans-serif, Arial;
        font-weight: 400;
        font-size: 36px;
        line-height: 60px;
        margin: 0;
        padding: 15px 20px 25px 20px;
        border-top: 1px solid $grey;
    }

    &__product-details {
        width: 100%;
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__item {
        padding: 0 20px;
        border-top: 1px solid #ededed;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__description-item {
        width: 50%;
        box-sizing: border-box;
        max-width: 200px;
    }

    &__product-title {
        @include font-oswald__16-20-400-upper;
        margin: 20px 0 10px;
        display: block;
        width: 60%;
    }

    &__details-row {
        @include font-arial__12-16-400-444444;
        display: flex;
        justify-content: space-between;
    }

    &__details-column {
        padding: 0;
    }

    &__button {
        margin-bottom: 20px;
        margin-left: 0;
        width: 100%;
    }
}

@media (min-width: $tablet-width) {
    .catalog {
        width: 92.44%;
        max-width: 1220px;
        margin-left: auto;
        margin-right: auto;

        &__title {
            font-size: 60px;
            line-height: 60px;
            border: none;
            width: 92.44%;
            max-width: 1220px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 150px;
        }

        &__list {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &__item {
            position: relative;
            width: 45.77%;
            box-sizing: border-box;
            margin-bottom: 140px;
            padding: 0px 35px 40px;
            background-color: #f2f2f2;
        }
        &__item:nth-last-child(2) {
            margin-bottom: 70px;
        }
        &__img {
            bottom: 325px;
        }

        &__img1 {
            margin-top: -70px;
        }

        &__img2 {
            margin-top: -103px;
        }

        &__button {
            width: 100%;
            height: 40px;
            font-size: 16px;
            line-height: 20px;
            padding: 0;
            margin: 0;
        }

        &__product-title {
            width: 125px;
            margin: auto;
            text-align: center;
            font-size: 20px;
            line-height: 20px;
            margin-bottom: 30px;
        }

        &__description-item {
            width: 100%;
            margin-bottom: 33px;
            max-width: 100%;
        }
        &__details-row {
            font-size: 16px;
            line-height: 16px;
        }
        &__details-row {
            padding-bottom: 8px;
            margin-top: 8px;
            border-bottom: 1px solid #cdcdcd;
        }
    }
}

@media (min-width: $desktop-width) {
    .catalog {
        width: 1220px;
        &__list {
            margin-bottom: 80px;
        }
        &__item {
            width: 20.83%;
        }
        &__title {
            width: 100%;
            padding: 0;
            margin-bottom: 160px;
        }
        &__item:nth-last-child(2),
        &__item:nth-last-child(3),
        &__item:nth-last-child(4) {
            margin-bottom: 0;
        }
    }
}

.in-cart {
    display: flex;
}
