.invitation {
    background-color: #f2f2f2;
    display: flex;
    padding: 20px 20px;
    justify-content: space-between;
    align-items: center;
    &__title {
        font-family: Arial;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
        width: 40%;
    }
    &__adress {
        font-family: Arial;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        margin: 0;
        width: 50%;
        .invitation__space {
            display: none;
        }
    }
}

.google-map__invitation {
    display: none;
}

@media (min-width: $tablet-width) {
    .invitation {
        max-width: 1220px;
        padding: 30px 40px;
        margin: auto;
        box-sizing: border-box;
        &__title {
            font-size: 20px;
            line-height: 25px;
        }
        &__adress {
            font-size: 16px;
            line-height: 20px;
            text-align: right;
            &__space {
                display: block;
            }
        }
        .invitation__space {
            display: block;
            opacity: 0;
        }
    }
}

@media (min-width: $desktop-width) {
    .invitation {
        position: absolute;
        width: 570px;
        height: 210px;
        box-sizing: border-box;
        bottom: 20px;
        left: 10px;
        display: none;
    }
    .google-map__invitation {
        display: flex;
    }
    .invitation__adress,
    .invitation__title {
        width: 40%;
    }
}
