@media (min-width: $tablet-width) {
    .page-header {
        width: 92.44%;
        max-width: 1220px;
        margin: auto;
        padding-top: 30px;
        display: flex;
        border: none;
        justify-content: space-between;
        box-sizing: border-box;
    }
    .page-header--pg,
    .page-header--catalog {
        margin-bottom: 50px;
    }
}

@media (min-width: $desktop-width) {
    .page-header {
        margin-top: 50px;
        width: 1220px;
        justify-content: space-between;
        margin-bottom: 80px;
    }
    .page-header--index {
        margin-bottom: 550px;
    }
}
