@mixin font-oswald__16-20-400-upper {
    font-family: 'Oswald', sans-serif, Arial;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

@mixin font-arial__12-16-400-444444 {
    font-family: Arial;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #444444;
    margin: 0;
    padding: 0;
}

@mixin font-arial__16-20-400-ffffff {
    font-family: Arial;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: $white;
    margin: 0;
    padding: 0;
}

@mixin green-line {
    &__green-line-wrap {
        position: relative;
    }

    &__green-line-wrap::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 3px;
        background-color: $green;
        top: 13px;
        left: 0;
    }

    @media (min-width: $tablet-width) {
        &__green-line-wrap::before {
            top: calc(50% + 1.5px);
            left: -30px;
            width: calc(100% + 60px);
        }
    }

    @media (min-width: $desktop-width) {
        &__green-line-wrap::before {
            top: calc(50% + 1.5px);
            left: -70px;
            width: calc(100% + 140px);
        }
    }
}

$tablet-width: 768px;
$desktop-width: 1440px;
$only-mobile-width: 767px;
@import 'assets/_colors';
@import '_mobile-nav';
@import '_mobile-closed';
@import '_button68b738';
@import '_personal-programm';
@import '_nutrition-goal';
@import '_how-it-works';
@import '_live-example';
@import '_invitation';
@import '_main-footer';
@import '_socials';
@import '_big-form';
@import '_name-block';
@import '_weight-block';
@import '_cat-owner-information';
@import '_comment-block';
@import '_additional-info';
@import '_catalog';
@import '_show-more';
@import '_additional-goods';
@import '_order-present';
@import '_google-map';
@import '_page-header';
@import '_program-selection';

body {
    margin: 0;
    padding: 0;
    background-color: $white;
    min-width: 320px;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

picture {
    margin: auto;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.catalog-main__additional-goods {
    margin-bottom: 30px;
}
.page-main {
    &__invitation {
        background-color: $white;
    }
}

@media (max-width: $only-mobile-width) {
    .js-block {
        animation: BounceLeft ease 1s;
        animation-iteration-count: 1;
        transform-origin: 50% 50%;
        animation-fill-mode: forwards;
        display: block;
    }
    .js-none {
        animation: BounceRight ease 1s;
        animation-iteration-count: 1;
        transform-origin: 50% 50%;
        animation-fill-mode: forwards;
        display: none;
    }
}

@keyframes BounceLeft {
    0% {
        opacity: 0;
        transform: translate(-1500px, 0px);
    }
    60% {
        opacity: 1;
        transform: translate(30px, 0px);
    }
    80% {
        transform: translate(-10px, 0px);
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}
