.button68b738 {
  margin: 0 auto;
  width: calc(100% - 40px);
  display: block;
  background-color: #68b738;
  border: none;
  font-family: 'Oswald', sans-serif, Arial;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 12px;
}

.buttonf2f2f2 {
  background-color: #f2f2f2;
  color: #444444;
  width: 100%;
}
