.button68b738 {
  margin-left: 20px;
  width: calc(100% - 40px);
  display: block;
  background-color: #68b738;
  border: none;
  font-family: 'Oswald', sans-serif, Arial;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 12px;
  cursor: pointer;
}

.button68b738:hover,
.button68b738:focus {
  background-color: #5eaa2f;
}

.button68b738:active {
  color: rgba($color: white, $alpha: 0.3);
}

.buttonf2f2f2 {
  background-color: #f2f2f2;
  color: #444444;
  width: 100%;
}
