.cat-owner-information {
  border: none;
  margin: 0;
  padding: 30px 0;

  &__title {
    padding-top: 5px;
    font-family: 'Oswald', sans-serif, Arial;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    padding: 0 20px;
    position: relative;
    margin: 0 0 30px;
    position: relative;
    background-color: white;
    display: block;
    width: 221px;
    box-sizing: border-box;
  }

  @include green-line;

  &__label {
    position: relative;
    font-family: 'Oswald', sans-serif, Arial;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    padding: 0 20px;
    display: flex;
    white-space: nowrap;
    align-items: center;
    margin-bottom: 15px;
  }

  &__label:last-child {
    margin-bottom: 0;
  }

  &__input {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    color: black;
    width: 100%;
    padding: 0 40px 0 15px;
    height: 45px;
    box-sizing: border-box;
    margin-left: 12px;
    border: 1px solid #e6e6e6;
    text-transform: inherit;
  }

  &__input::placeholder {
    color: #444444;
    text-transform: uppercase;
  }

  &__label::after {
    content: "";
    position: absolute;
  }

  &__label1::after {
    width: 17px;
    height: 13px;
    background-image: url(../img/mail.svg);
    right: 32px;
    top: 16px;
  }

  &__label2::after {
    width: 20px;
    height: 20px;
    background-image: url(../img/phone.svg);
    right: 27px;
    top: 13px;
  }
}


@media (min-width:$tablet-width) {
  .cat-owner-information {
    padding: 0;
    margin-bottom: 70px;

    &__title {
      font-size: 36px;
      line-height: 36px;
      width: 595px;
      padding: 0 40px;
      font-size: 36px;
      line-height: 36px;
      margin-bottom: 70px;
    }

    &__green-line-wrap::before {
      top: calc(50% + 1.5px);
      left: -30px;
      width: calc(100% + 60px);
    }

    &__label {
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 20px;
      padding: 0 40px;
    }

    &__input {
      margin-left: 20px;
      height: 50px;
    }

    &__label1::after {
      right: 55px;
      top: calc(50% - 6.5px);
    }

    &__label2::after {
      right: 50px;
      top: calc(50% - 10px);
    }
  }
}

@media (min-width:$desktop-width) {
  .cat-owner-information {
    margin-bottom: 70px;

    &__green-line-wrap::before {
      top: calc(50% + 1.5px);
      left: -70px;
      width: calc(100% + 140px);
    }

    &__label {
      width: 570px;
      margin-bottom: 0;
      padding-left: 0;
      padding-right: 0;
    }
    &__label::after {
      right: 15px;
    }

    &__label-wrap {
      display: flex;
      justify-content: space-between;
    }

    &__label:nth-child(2) {
      padding-right: 0;
    }
  }
}
