.comment-block {
  border: none;
  margin: 0;
  margin-bottom: 30px;

  &__title {
    padding-top: 5px;
    font-family: 'Oswald', sans-serif, Arial;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    padding: 0 20px;
    position: relative;
    margin: 0 0 30px;
    position: relative;
    background-color: white;
    display: block;
    width: 221px;
    box-sizing: border-box;
  }

  @include green-line;

  &__textarea {
    padding: 13px 13px;
    width: calc(100% - 40px);
    box-sizing: border-box;
    margin-left: 20px;
    margin-right: 20px;
    min-height: 150px;
    border: 1px solid #e6e6e6;
  }

  &__textarea,
  &__textarea::placeholder {
    font-family: 'Oswald', sans-serif, Arial;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: black;
  }

  &__textarea::placeholder {
    color: #444444;
    text-transform: uppercase;
  }
}

@media (min-width:$tablet-width) {
  .comment-block {
    margin-bottom: 70px;
    &__title {
      font-size: 36px;
      line-height: 36px;
      padding: 0 40px;
      width: auto;
      display: inline-block;
      margin-bottom: 0;
    }
    &__green-line-wrap {
      margin-bottom: 75px;
    }
    &__textarea::placeholder {
      font-size: 20px;
      line-height: 30px;
    }
    &__textarea {
      width: 630px;
      height: 175px;
      max-width: 630px;
      margin-left: 40px;
    }
  }
}

@media (min-width:$desktop-width) {
  .comment-block {
    &__textarea {
      width: 1220px;
      max-width: 1220px;
    }
  }
}
