.comment-block {
  border: none;
  margin: 0;
  margin-bottom: 30px;

  &__title-wrap {
    display: flex;
  }

  &__title {
    padding-top: 5px;
    font-family: 'Oswald', sans-serif, Arial;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    padding: 0 20px;
    position: relative;
    margin: 0 0 30px;
    white-space: nowrap;
  }

  &__line {
    width: 100%;
    height: 3px;
    background-color: #68b738;
    margin-top: 13px;
  }

  &__textarea {
    padding: 13px 13px;
    width: calc(100% - 40px);
    box-sizing: border-box;
    margin-left: 20px;
    margin-right: 20px;
    min-height: 150px;
    border: 1px solid #e6e6e6;
  }

  &__textarea,
  &__textarea::placeholder {
    font-family: 'Oswald', sans-serif, Arial;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: black;
  }

  &__textarea::placeholder {
    color: #444444;
    text-transform: uppercase;
  }
}
