.live-example {
  background-color: #f2f2f2;
  padding: 30px 20px;
  position: relative;

  &__title {
    font-family: 'Oswald', sans-serif, Arial;
    font-weight: 400;
    font-size: 36px;
    line-height: 60px;
    margin: 0 0 30px 0;
  }

  &__description {
    font-family: Arial;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 20px;
    text-align: justify;
  }

  &__measures {
    display: flex;
    justify-content: space-between;
  }

  &__measure-term {
    font-family: 'Oswald', sans-serif, Arial;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 15px 0;
    border: 1px solid #cfcfcf;
    width: 45%;
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    margin-bottom: 38px;
    border-radius: 5%;
    position: relative;
  }

  &__measure-term1::after,
  &__measure-term2::after {
    position: absolute;
    font-family: Arial;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    text-transform: none;
    padding: 5px;
    background-color: #f2f2f2;
    width: auto;
    text-align: center;
    color: #444444;
    white-space: normal;
    width: 88px;
    box-sizing: border-box;
    left: calc(50% - 44px);
    bottom: -20px;
  }

  &__measure-term1::after {
    content: "снижение
веса";


  }

  &__measure-term2::after {
    content: "затрачено
времени";

  }

  &__img-slogan {
    font-family: 'Oswald', sans-serif, Arial;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    margin-bottom: 44px;
  }

  &__before-after {
    padding-bottom: 35px;
    width: 100%;

  }

  &__cat-img-wrap {
    margin-bottom: 10px;
  }

  &__before,
  &__after {
    font-family: 'Oswald', sans-serif, Arial;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
  }

  &__before {
    margin-left: 40px;
    margin-right: 20px;
  }

  &__after {
    margin-left: 20px;
    margin-right: 40px;
  }

  &__range {
    width: 100%;
  }

  &__range-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    height: 100%;
  }

  &__cat-image {
    margin: auto;
    object-fit: cover;
    width: 311px;
    height: 232px;
    display: block;
  }
}



@media (min-width:$tablet-width) {
  .live-example {
    padding: 0;
    width: 100%;
    margin: auto;
    padding-top: 45px;
    background-color: white;
    margin-bottom: 0;

    &__title {
      font-size: 60px;
      line-height: 60px;
      margin-bottom: 60px;
      width: 92.44%;
      max-width: 1220px;
      margin-left: auto;
      margin-right: auto;
      box-sizing: border-box;
    }

    &__description {
      font-size: 16px;
      line-height: 24px;
      margin-top: 0;
      margin-bottom: 50px;
      width: 92.44%;
      max-width: 1220px;
      margin-left: auto;
      margin-right: auto;
      box-sizing: border-box;
    }

    &__measures {
      width: 50%;
      display: flex;
    }

    &__measure-term {
      padding: 18px 0;
      font-size: 30px;
      line-height: 37px;
      margin-bottom: 0;
    }

    &__measure-term1::after,
    &__measure-term2::after {
      font-size: 14px;
      line-height: 14px;
      background-color: white;
      width: auto;
      white-space: nowrap;
      padding: 0 5px;
      margin-bottom: 0;
    }

    &__measure-term1::after {
      bottom: -8px;
      left: 14%;
    }

    &__measure-term2::after {
      bottom: -8px;
      left: 6%;
    }

    &__img-slogan {
      width: 25%;
      display: inline-block;
      font-size: 20px;
      line-height: 20px;
      text-align: right;
      align-items: center;
      height: 100%;
      margin: 0;
    }

    &__wrap1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 70px;
      width: 92.44%;
      max-width: 1220px;
      margin-left: auto;
      margin-right: auto;
      box-sizing: border-box;
    }

    &__before-after {
      position: relative;
      padding-bottom: 70px;
    }

    &__before-after::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 460px;
      background-color: #f2f2f2;
      bottom: 0;
    }

    &__before,
    &__after {
      font-size: 20px;
      line-height: 20px;
      position: relative;
      border-bottom: 1px dotted #bebebe;
      padding-bottom: 10px;
    }

    &__before {
      margin-left: 70px;
      margin-right: 20px;
    }

    &__after {
      margin-left: 20px;
      margin-right: 70px;

    }

    &__range-block {
      padding: 0 30px;
      position: relative;
      z-index: 2;
    }

    &__cat-image {
      width: 677px;
      height: 499px;
      margin-bottom: 20px;
      position: relative;
      z-index: 2;
    }

    &__range {
      -webkit-appearance: none;
      width: 100%;
      height: 6px;
      background: #dcdcdc;
      outline: none;
      border-radius: 50px;
    }

    &__range::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 35px;
      height: 35px;
      background: #68b738;
      cursor: pointer;
      border-radius: 50px;
      border: 13.5px solid #ffffff;
      box-shadow: 0px 0px 0px 1px #d1d1d1, 0px 3px 5px #d2d2d2;
    }

    &__range::-moz-range-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 35px;
      height: 35px;
      background: #68b738;
      cursor: pointer;
      border-radius: 50px;
      border: 13.5px solid #ffffff;
      box-shadow: 0px 0px 0px 1px #d1d1d1, 0px 3px 5px #d2d2d2;
      box-sizing: border-box;
    }
  }
}

@media (min-width:$desktop-width) {
  .live-example {
    width: 1220px;
    padding-top: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 590px;
    background-color: transparent;
    margin-bottom: 0;
    &__wrap {
      position: relative;
    }
    &__wrap::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 470px;
      bottom: 0;
      background-color: #f2f2f2;
    }

    &__title {
      margin-left: 0;
      margin-bottom: 130px;
      margin-right: 150px;
      width: auto;
    }

    &__description {
      margin-left: 0;
      width: 450px;
      margin-bottom: 70px;
      margin-right: 150px;
    }

    &__wrap1 {
      display: flex;
      flex-direction: column;
      margin-bottom: 0;
      width: 370px;
      margin-left: 0;
      margin-right: 0;
    }

    &__measures {
      margin-bottom: 70px;
      width: 100%;
    }

    &__img-slogan {
      margin-bottom: 0;
      width: 100%;
      text-align: left;
    }

    &__before-after::before {
      display: none;
    }

    &__before-after {
      width: 50%;
    }

    &__range-block {
      height: auto;
    }

    &__cat-image {
      margin-bottom: 0;
      position: relative;
      left: -60px;
      top: -30px;
    }

    &__before {
      margin-left: 20px;
      border: none;
    }

    &__after {
      margin-right: 20px;
      border: none;
    }
    &__measure-term1::after,
    &__measure-term2::after {
      background-color: #f2f2f2;
    }
  }
}
