.mobile-closed {
  position: relative;
  padding: 11px 20px 16px 20px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__button {
    background-color: transparent;
    border: none;
    position: relative;
    height: 18px;
    padding: 0;
    outline: none;
  }

  &__button:hover,
  &__button:focus {
    opacity: 0.7;
  }

  &__button:active {
    opacity: 0.3;
  }

  &__nav {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }

  &__button-img-open {
    display: none;
  }

  &__logo-img {
    margin-right: 55px;
    box-sizing: border-box;
  }

  &__logo-link:focus,
  &__logo-link:hover {
    opacity: 0.7;
  }

  &__logo-link:active {
    opacity: 0.3;
  }

  &__logo-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    width: calc(50% + 55.5px);
  }
  &__button-img-closed {
    cursor: pointer;
  }
}

@media (min-width: $tablet-width) {
  .mobile-closed {
    padding: 0;

    &__logo-img {
      margin-right: auto;
      width: 173px;
      height: 58px;
    }

    &__button {
      display: none;
    }
    &__logo-name {
      display: none;
    }
    &__logo-link {
      display: block;
      width: 100%;
    }
  }
}

@media(min-width:$desktop-width) {
  .mobile-closed {
    &__logo-img {
      width: 202px;
      height: 59px;
    }
  }
}

