.name-block {
  padding: 0 20px 20px;
  border-bottom: 1px solid #ededed;
  &__label {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
  }
  &__input-name {
    font-family: 'Oswald', sans-serif, Arial;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    white-space: nowrap;
  }
  &__input {
    border: 1px solid #ededed;
    font-family: 'Oswald', sans-serif, Arial;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    padding: 15px 18px 15px 18px;
    margin-left: 10px;
    display: inline-block;
    width: 100%;
    height: 45px;
    box-sizing: border-box;
  }
  &__input::placeholder {
    color: black;
  }
}

@media (min-width: $tablet-width) {
  .name-block {
    margin-bottom: 70px;
    border:none;
    padding: 0 40px;
    &__label {
      margin-bottom: 20px;
    }
    &__input-name {
      font-size: 20px;
      line-height: 20px;
      margin-right: 15px;
    }
    &__input {
      margin: 0;
      height: 50px;
      box-sizing: border-box;
    }
  }
}

@media (min-width: $desktop-width) {
  .name-block {
    width: 570px;
    display:flex;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: auto;
    height: 196px;
    &__label {
      width: 100%;
    }
    &__label:last-child {
      margin-bottom: 0;
    }
  }
}
