.page-header {

  &__nav {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    width: 92.44%;
    max-width: 1220px;
    margin: auto;
    padding: 30px 0;
    display: flex;
    border: none;
    margin-bottom: 60px;
    justify-content: space-between;
    box-sizing: border-box;

    &__nav {
      display: flex;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    margin-top: 50px;
    width: 1220px;
    justify-content: space-between;
    margin-bottom: 650px;
  }
}
