.socials {
  display: flex;
  list-style: none;
  height: 64px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding: 0;
  text-align: center;
  justify-content: center;
  margin: 0;
  padding: 20px 22px;
  box-sizing: border-box;

  &__item {
    width: 20%;
    height: 100%;
    margin-right: 20px;
    cursor: pointer;
  }

  &__link:hover path,
  &__link:hover circle {
    fill: #68b738;
  }

  &__link:active path,
  &__link:active circle {
      opacity: 0.3;
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__link {
    display: block;
    width: 100%;
    outline: none;
  }

  &__link path,
  &__link circle {
    transition: all 0.3s ease;
  }

  &__img {
    object-fit: cover;
    width: 100%;
  }

  &__item:nth-child(1) {
    width: 22px;
    height: 18px;
  }

  &__item:nth-child(2) {
    width: 16px;
    height: 16px;
  }

  &__item:nth-child(3) {
    width: 10px;
    height: 19px;
  }
}

@media (min-width:$tablet-width) {
  .socials {
    width: auto;
    border: none;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
    padding: 0;

    &__item {
      width: auto;
      margin-right: 25px;
      justify-content: center;
      align-items: center;
      display: flex;
    }

    &__item:last-child {
      margin-right: 0;
    }

    &__item:nth-child(1) {
      width: 30px;
      height: 16px;
    }

    &__item:nth-child(2) {
      width: 23px;
      height: 23px;
    }

    &__item:nth-child(3) {
      width: 14px;
      height: 28px;
    }

    &__svg--vk {
      width: 30px;
      height: 16px;
    }

    &__svg--instagram {
      width: 23px;
      height: 23px;
    }

    &__svg--facebook {
      width: 14px;
      height: 28px;
    }
  }
}
