.weight-block {
  padding: 28px 0 28px 65px;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #ededed;
  &__label {
    width: 100%;
    font-family: 'Oswald', sans-serif, Arial;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    margin-bottom: 25px;
    position: relative;
  }
  &__label:last-child {
    margin-bottom: 0;
  }
  &__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  &__checkmark {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border:1px solid #ededed;
    display: block;
    position: absolute;
    left: -50px;
    top: -8px;
  }
  &__checkmark::after {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #68b738;
    display: none;
    position: absolute;
    left: 9px;
    top: 9px;
  }
  &__input:checked ~ &__checkmark::after {
    display: block;
  }
}
