@mixin font-oswald__16-20-400-upper {
  font-family: 'Oswald', sans-serif, Arial;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

@mixin font-arial__12-16-400-444444 {
  font-family: Arial;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  margin: 0;
  padding: 0;
}

@mixin font-arial__16-20-400-ffffff {
  font-family: Arial;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

@mixin green-line {
  &__green-line-wrap {
    position: relative;
  }

  &__green-line-wrap::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    background-color: #68b738;
    top: 13px;
    left: 0;
  }

  @media (min-width:$tablet-width) {
    &__green-line-wrap::before {
      top: calc(50% + 1.5px);
      left: -30px;
      width: calc(100% + 60px);
    }
  }

  @media (min-width:$desktop-width) {
    &__green-line-wrap::before {
      top: calc(50% + 1.5px);
      left: -70px;
      width: calc(100% + 140px);
    }
  }
}

$tablet-width: 768px;
$desktop-width: 1440px;
$only-mobile-width: 767px;

@import "mobile-nav";
@import "mobile-closed";
@import "button68b738";
@import "personal-programm";
@import "nutrition-goal";
@import "how-it-works";
@import "live-example";
@import "invitation";
@import "main-footer";
@import "socials";
@import "big-form";
@import "name-block";
@import "weight-block";
@import "cat-owner-information";
@import "comment-block";
@import "additional-info";
@import "catalog";
@import "show-more";
@import "additional-goods";
@import "order-present";
@import "google-map";
@import "page-header";
@import "program-selection";



body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  min-width: 320px;
}

img {
  max-width: 100%;
  height: auto;
}

picture {
  margin: auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.catalog-main__additional-goods {
  margin-bottom: 85px;
}

.page-main {
  &__invitation {
    background-color: #ffffff;
  }
}

@media (max-width:$only-mobile-width) {
  .js-block {
    display: block;
  }
  .js-none {
    display: none;
  }
}
